# BooksToScrape Part2

### Objective:
The purpose of the project is to scape the given site for learning purpose.

### Project Idea
Scrape the name of the book and the price of the book from the given site and saving the data into a csv file using the requests, BeautifulSoup, csv and/or pandas libraries.

In [1]:
import requests
from bs4 import BeautifulSoup
import csv
#Alternatively
import pandas as pd

In [2]:
# URL of the website to scrape.
url = 'https://books.toscrape.com/catalogue/category/books/classics_6/index.html'

In [3]:
# calling the variable
url

'https://books.toscrape.com/catalogue/category/books/classics_6/index.html'

In [4]:
# Sending a GET request to the website
response = requests.get(url)

In [5]:
# creating a variable to access the document type
html = response.text

In [6]:
# Parsing the HTML content of the page
soup = BeautifulSoup(html, 'html.parser')

In [9]:
# Locating where the book container and extracting the information
book_container = soup.find_all('article', class_='product_pod')
book_container[0:1]

[<article class="product_pod">
 <div class="image_container">
 <a href="../../../the-secret-garden_413/index.html"><img alt="The Secret Garden" class="thumbnail" src="../../../../media/cache/c5/46/c5465a06182ed6ebfa40d049258a2f58.jpg"/></a>
 </div>
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="../../../the-secret-garden_413/index.html" title="The Secret Garden">The Secret Garden</a></h3>
 <div class="product_price">
 <p class="price_color">Â£15.08</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>]

In [10]:
# Checking the total number of containers
len(book_container)

19

In [11]:
# Looping throught each book container and extracting information

masterList = []

for book in book_container:
    book_data = {}
    book_data['Title'] = book.h3.a['title']
    book_data['Price'] = book.select('div p.price_color')[0].text.strip('Â')
    masterList.append(book_data)

In [12]:
masterList[0:4]

[{'Title': 'The Secret Garden', 'Price': '£15.08'},
 {'Title': 'The Metamorphosis', 'Price': '£28.58'},
 {'Title': "The Pilgrim's Progress", 'Price': '£50.26'},
 {'Title': 'The Hound of the Baskervilles (Sherlock Holmes #5)',
  'Price': '£14.82'}]

In [13]:
df = pd.DataFrame(masterList)

In [14]:
df[0:3]

                    Title   Price
0       The Secret Garden  £15.08
1       The Metamorphosis  £28.58
2  The Pilgrim's Progress  £50.26

In [ ]:
df.to_csv('books_')